[build]
  base = "frontend/"
  command = "npm run build"
  publish = "frontend/build"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[env.production]
  REACT_APP_BACKEND_URL = "https://your-backend-api.com"

[env.dev]
  REACT_APP_BACKEND_URL = "http://localhost:8000"
